:root {
    --primary: #1A1A1A; /* Dark grey */
    --secondary: #262626; /* Black */
    --actionColors: #c77d33; /* Dark orange */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #2b2b2b; /* Dark grey */
}

.mainContainer .right-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #363636c8; 
}

.mainContainer .left-panel {
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: #151515; /* Dark grey */
    font-size: 1.8rem;
}

.mainContainer .left-panel .profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.mainContainer .left-panel .profile-info img {
    height: 15vh;
    width: 15vh;
}

.mainContainer .left-panel .dashboard-ui {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 35px;
}

.mainContainer .left-panel .dashboard-ui a {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    font-weight: 600;
}

.mainContainer .left-panel .dashboard-ui a:hover {
    background-color: #582222; /* Dark grey */
}

label {
    font-weight: 600;
    color: #FFF;
    font-size: 2rem;
    display: flex;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

form .registered-users , .active-users {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 30vh;
    background-color: #c8833f; /* Dark orange */
    border-radius: 10px;
    font-size: 2.2rem;
    color: #FFF;
    font-weight: 600;
}

form .registered-users, .active-users{
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }

    .mainContainer .left-panel {
        font-size: 1rem;
    }

    .mainContainer .right-panel {
        height: auto;
        margin-top: 20px;
    }

    form .registered-users,
    form .active-users {
        height: auto;
        margin-bottom: 20px;
    }
}
